
body, body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  color: #333;
}


#main-container {
  position: absolute;
  width: 300px;
  height: 250px;

  border: 1px solid black;
  box-sizing: border-box;

  background: #EEE;

  overflow: hidden;
}

#exit {
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.feature {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

#banner {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  transform: translateY(250px);
  transition: 9s linear;
}

#heading-1 {
  top: 10px;
  left: 20px;
  width: 200px;
  height: 30px;
  position: absolute;
  background-color: green;
  transform: translate(-20px -20px) scale(2);
  transition: 300ms linear;
}

#heading-2 {
  top: 50px;
  left: 20px;
  width: 90px;
  height: 30px;
  position: absolute;
  background-color: red;
  transform: translate(-20px -70px) scale(2);
  transition: 300ms linear;
}

#heading-3 {
  top: 50px;
  left: 120px;
  width: 90px;
  height: 30px;
  position: absolute;
  background-color: purple;
  transform: translate(-20px -70px) scale(2);
  transition: 300ms linear;
}

#heading-4 {
  top: 90px;
  left: 20px;
  width: 150px;
  height: 30px;
  position: absolute;
  background-color: yellow;
  transform: translate(-10px -160px) scale(2);
  transition: 300ms linear;
}

#text-1 {
  top: 130px;
  left: 40px;
  width: 240px;
  position: absolute;
}

#text-2 {
  top: 130px;
  left: 40px;
  width: 240px;
  position: absolute;
}

#footer {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  position: absolute;
  background-color: blue;
  transform: translateY(30px);
  transition: 300ms linear;
}

.fade-in {
  opacity: 1;
  transition: 300ms linear;
}

.fade-out {
  opacity: 0;
  transition: 300ms linear;
}

:focus {
  outline:none;
}
::-moz-focus-inner {
  border:0;
}
